.navbar {
    width: 100%;
    background-color: #333; /* Cor de fundo da barra de navegação */
    padding: 10px 20px; /* Preenchimento interno da barra */
    display: flex;
    justify-content: space-between; /* Espaça os itens de navegação */
    align-items: center; /* Alinha verticalmente os itens de navegação */
    margin-bottom: 20px; /* Espaço entre a barra de navegação e o card */
  }
  
  .nav-link {
    color: #fff; /* Cor do texto dos links */
    text-decoration: none; /* Remove sublinhado dos links */
    padding: 5px 10px; /* Preenchimento interno dos links */
    border-radius: 5px; /* Cantos arredondados dos links */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
  
    &:hover {
      background-color: #555; /* Cor de fundo ao passar o mouse */
    }
  }
  
  button {
    color: #fff; /* Cor do ícone */
  }
  
  .mat-icon-button {
    margin-left: 10px; /* Espaço entre os botões */
  }
  